* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;

  height: 70vh;
  width: 25vw;

  border: 2px solid black;
  box-shadow: 0 0 4px 0 black;

  background-color: #ccc;
}

.screenPanel {
  height: 32%;

  border: 3px solid purple;
}

.numericKeyboard {
  /* pozycja */
  /* ----- */
  /* wymiary */
  height: 68%;
  /* pozycjonowanie dzieci */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  gap: 3px;
  padding: 3px;

  /* wygląd */
  background-color: rosybrown;
}

.keyCalc {
  border: 1px solid black;
}

.sum {
  grid-area: 5/1/6/5;
}
