* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  width: 50vw;
  height: 70vh;
  margin: 15vh auto;
  border: 2px solid #000;
  box-shadow: 0 0 4px 0 #000;

  background-color: #ccc;
}

.screenPanel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 2rem 2rem 0 0;
  height: 35%;
  font-size: 2rem;
}

.numericKeyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  height: 60%;
  padding: 3px;

  background-color: coral;
}

.btn {
  cursor: pointer;
  box-shadow: 0 0 0 1px black;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
}

.keyCalc {
  border: 1px solid black;
}

.sum {
  grid-area: 5/1/6/5;
}
